# -------------------------
# Backend (Python / Flask)
# -------------------------
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/*.pyo
backend/*.pyd
backend/*.sqlite3
backend/*.log
backend/.env
backend/.env.*

# -------------------------
# Frontend (React / Node.js)
# -------------------------
frontend/node_modules/
frontend/build/
frontend/.pnp/
frontend/.pnp.js
frontend/coverage/
frontend/.DS_Store
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/package-lock.json
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/.env
# -------------------------
# IDE / Editor
# -------------------------
.vscode/
.idea/
*.swp
